# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [143]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [148]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [257]:
cur.close()
conn.close()

In [13]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.relpath(f))  # NOTE: This was edited as I was using my own system
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [90]:
song_files = get_files(filepath)

In [133]:
song_files[0]

'data/song_data/A/A/A/TRAAAEF128F4273421.json'

In [7]:
filepath = 'data/song_data'

In [99]:
df = pd.read_json(song_files[0], lines=True)
df.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,AR7G5I41187FB4CE6C,NaN,"London, England",NaN,Adam Ant,233.40363,1,SONHOTT12A8C13493C,Something Girls,1982

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [127]:
song_data = (
    df[['song_id', 'title', 'artist_id',
        'year', 'duration']].values
)
song_data = list(song_data[0])
song_data

['SONHOTT12A8C13493C',
 'Something Girls',
 'AR7G5I41187FB4CE6C',
 1982,
 233.40363]

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [128]:
song_table_insert = ("""
    INSERT INTO songs (song_id, title, artist_id, year, duration)
    VALUES (%s, %s, %s, %s, %s);
""")

cur.execute(song_table_insert, song_data)
conn.commit()

In [129]:
cur.execute("""
    SELECT * FROM songs;
""")

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

('SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C', 1982, 233.40363)

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [134]:
df

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,AR7G5I41187FB4CE6C,NaN,"London, England",NaN,Adam Ant,233.40363,1,SONHOTT12A8C13493C,Something Girls,1982

In [145]:
artist_data = (
    df[['artist_id', 'artist_name', 'artist_location',
        'artist_latitude', 'artist_longitude']].values
)
artist_data = list(artist_data[0])
artist_data

['AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', nan, nan]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [146]:
artist_table_insert = ("""
    INSERT INTO artists
        (artist_id, name, location, latitude, longitude)
    VALUES (%s, %s, %s, %s, %s);
""")

In [149]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

In [150]:
cur.execute("""
    SELECT * FROM artists;
""")

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

('AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', Decimal('NaN'), Decimal('NaN'))

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [156]:
log_files = get_files(filepath)
len(log_files)

30

In [151]:
filepath = 'data/log_data'

In [159]:
df = pd.read_json(log_files[0], lines=True)
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Frumpies,Logged In,Anabelle,F,0,Simpson,134.47791,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,Fuck Kitty,200,1541903636796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
1,Kenny G with Peabo Bryson,Logged In,Anabelle,F,1,Simpson,264.75057,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,By The Time This Night Is Over,200,1541903770796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
2,Biffy Clyro,Logged In,Anabelle,F,2,Simpson,189.83138,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,God & Satan,200,1541904034796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
3,None,Logged In,Lily,F,0,Burns,NaN,free,"New York-Newark-Jersey City, NY-NJ-PA",GET,Home,1.540621e+12,456,None,200,1541910841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32
4,HIM,Logged In,Lily,F,1,Burns,212.06159,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540621e+12,456,Beautiful,200,1541910973796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [160]:
is_NextSong = df['page'] == 'NextSong'
df = df[is_NextSong]
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Frumpies,Logged In,Anabelle,F,0,Simpson,134.47791,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,Fuck Kitty,200,1541903636796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
1,Kenny G with Peabo Bryson,Logged In,Anabelle,F,1,Simpson,264.75057,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,By The Time This Night Is Over,200,1541903770796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
2,Biffy Clyro,Logged In,Anabelle,F,2,Simpson,189.83138,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,God & Satan,200,1541904034796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
4,HIM,Logged In,Lily,F,1,Burns,212.06159,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540621e+12,456,Beautiful,200,1541910973796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32
5,Matmos,Logged In,Joseph,M,0,Gutierrez,1449.11628,free,"Columbia, SC",PUT,NextSong,1.540809e+12,284,Supreme Balloon,200,1541911006796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3...",75

In [81]:
# Python version
import datetime
datetime.datetime.fromtimestamp(1541377992796/1000.0)

# (year, month, day, hour, minute, second, microsecond)
# datetime.datetime(2018, 11, 4, 16, 33, 12, 796000)

# Pandas version
pd.to_datetime(1541377992796, unit='ms')
# Timestamp('2018-11-05 00:33:12.796000')
# pd.to_datetime(1541377992796, unit='ms').day_name() - 'Monday'

Timestamp('2018-11-05 00:33:12.796000')

In [246]:
df['ts'] = pd.to_datetime(df['ts'], unit='ms')
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Frumpies,Logged In,Anabelle,F,0,Simpson,134.47791,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,Fuck Kitty,200,2018-11-11 02:33:56.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
1,Kenny G with Peabo Bryson,Logged In,Anabelle,F,1,Simpson,264.75057,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,By The Time This Night Is Over,200,2018-11-11 02:36:10.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
2,Biffy Clyro,Logged In,Anabelle,F,2,Simpson,189.83138,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,God & Satan,200,2018-11-11 02:40:34.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
4,HIM,Logged In,Lily,F,1,Burns,212.06159,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540621e+12,456,Beautiful,200,2018-11-11 04:36:13.796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32
5,Matmos,Logged In,Joseph,M,0,Gutierrez,1449.11628,free,"Columbia, SC",PUT,NextSong,1.540809e+12,284,Supreme Balloon,200,2018-11-11 04:36:46.796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3...",75

In [218]:
t = df['ts']
t.head()

0   2018-11-11 02:33:56.796
1   2018-11-11 02:36:10.796
2   2018-11-11 02:40:34.796
4   2018-11-11 04:36:13.796
5   2018-11-11 04:36:46.796
Name: ts, dtype: datetime64[ns]

In [247]:
time_data = list((t, t.dt.hour, t.dt.day, t.dt.week, t.dt.month, t.dt.year, t.dt.day_name()))
column_labels = ('timestamp', 'hour', 'day', 'week', 'month', 'year', 'day_of_week')
time_data

[0    2018-11-11 02:33:56.796
 1    2018-11-11 02:36:10.796
 2    2018-11-11 02:40:34.796
 4    2018-11-11 04:36:13.796
 5    2018-11-11 04:36:46.796
 6    2018-11-11 09:56:28.796
 7    2018-11-11 10:00:47.796
 8    2018-11-11 10:04:07.796
 9    2018-11-11 10:08:28.796
 10   2018-11-11 10:12:00.796
 12   2018-11-11 10:27:43.796
 13   2018-11-11 10:33:44.796
 14   2018-11-11 10:36:22.796
 15   2018-11-11 10:40:14.796
 16   2018-11-11 10:43:23.796
 17   2018-11-11 10:46:18.796
 23   2018-11-11 11:14:51.796
 25   2018-11-11 13:41:22.796
 27   2018-11-11 13:52:23.796
 28   2018-11-11 13:58:22.796
 30   2018-11-11 14:05:43.796
 31   2018-11-11 14:07:54.796
 32   2018-11-11 14:09:36.796
 33   2018-11-11 14:14:29.796
 35   2018-11-11 14:15:06.796
 36   2018-11-11 14:17:52.796
 37   2018-11-11 14:19:37.796
 38   2018-11-11 14:24:58.796
 39   2018-11-11 14:30:05.796
 40   2018-11-11 14:33:53.796
                ...
 57   2018-11-11 15:10:12.796
 58   2018-11-11 15:14:56.796
 59   2018-11-11 16:01:19.796
 60   2018-11-11 16:05:35.796
 61   2018-11-11 16:09:12.796
 62   2018-11-11 16:13:43.796
 65   2018-11-11 18:08:33.796
 67   2018-11-11 18:48:12.796
 69   2018-11-11 18:49:01.796
 70   2018-11-11 18:51:56.796
 71   2018-11-11 18:53:36.796
 72   2018-11-11 18:54:46.796
 76   2018-11-11 19:41:45.796
 77   2018-11-11 19:45:25.796
 78   2018-11-11 19:48:53.796
 80   2018-11-11 19:56:23.796
 81   2018-11-11 19:59:18.796
 82   2018-11-11 20:03:09.796
 83   2018-11-11 20:06:02.796
 84   2018-11-11 20:08:52.796
 85   2018-11-11 20:13:22.796
 86   2018-11-11 20:15:55.796
 87   2018-11-11 20:19:18.796
 88   2018-11-11 20:22:03.796
 89   2018-11-11 20:25:40.796
 90   2018-11-11 21:09:28.796
 91   2018-11-11 21:13:48.796
 92   2018-11-11 21:17:29.796
 93   2018-11-11 23:39:00.796
 94   2018-11-11 23:42:28.796
 Name: ts, Length: 73, dtype: datetime64[ns], 0      2
 1      2
 2      2
 4      4
 5      4
 6      9
 7     10
 8     10
 9     10
 10    10
 12    10
 13    10
 14    10
 15    10
 16    10
 17    10
 23    11
 25    13
 27    13
 28    13
 30    14
 31    14
 32    14
 33    14
 35    14
 36    14
 37    14
 38    14
 39    14
 40    14
       ..
 57    15
 58    15
 59    16
 60    16
 61    16
 62    16
 65    18
 67    18
 69    18
 70    18
 71    18
 72    18
 76    19
 77    19
 78    19
 80    19
 81    19
 82    20
 83    20
 84    20
 85    20
 86    20
 87    20
 88    20
 89    20
 90    21
 91    21
 92    21
 93    23
 94    23
 Name: ts, Length: 73, dtype: int64, 0     11
 1     11
 2     11
 4     11
 5     11
 6     11
 7     11
 8     11
 9     11
 10    11
 12    11
 13    11
 14    11
 15    11
 16    11
 17    11
 23    11
 25    11
 27    11
 28    11
 30    11
 31    11
 32    11
 33    11
 35    11
 36    11
 37    11
 38    11
 39    11
 40    11
       ..
 57    11
 58    11
 59    11
 60    11
 61    11
 62    11
 65    11
 67    11
 69    11
 70    11
 71    11
 72    11
 76    11
 77    11
 78    11
 80    11
 81    11
 82    11
 83    11
 84    11
 85    11
 86    11
 87    11
 88    11
 89    11
 90    11
 91    11
 92    11
 93    11
 94    11
 Name: ts, Length: 73, dtype: int64, 0     45
 1     45
 2     45
 4     45
 5     45
 6     45
 7     45
 8     45
 9     45
 10    45
 12    45
 13    45
 14    45
 15    45
 16    45
 17    45
 23    45
 25    45
 27    45
 28    45
 30    45
 31    45
 32    45
 33    45
 35    45
 36    45
 37    45
 38    45
 39    45
 40    45
       ..
 57    45
 58    45
 59    45
 60    45
 61    45
 62    45
 65    45
 67    45
 69    45
 70    45
 71    45
 72    45
 76    45
 77    45
 78    45
 80    45
 81    45
 82    45
 83    45
 84    45
 85    45
 86    45
 87    45
 88    45
 89    45
 90    45
 91    45
 92    45
 93    45
 94    45
 Name: ts, Length: 73, dtype: int64, 0     11
 1     11
 2     11
 4     11
 5     11
 6     11
 7     11
 8     11
 9     11
 10    11
 12    11
 13    11
 14    11
 15    11
 16    11
 17    11
 23    11
 25    11
 27    11
 28    11
 30    11
 31    11
 32    11
 33    11
 35    11
 36    11
 37    11
 38    11
 39    11
 40    11
       ..
 57    11
 58    11
 59    11
 60    11
 61    11
 62    11
 65    11
 67    11
 69    11
 70    11
 71    11
 72    11
 76    11
 77    11
 78    11
 80    11
 81    11
 82    11
 83    11
 84    11
 85    11
 86    11
 87    11
 88    11
 89    11
 90    11
 91    11
 92    11
 93    11
 94    11
 Name: ts, Length: 73, dtype: int64, 0     2018
 1     2018
 2     2018
 4     2018
 5     2018
 6     2018
 7     2018
 8     2018
 9     2018
 10    2018
 12    2018
 13    2018
 14    2018
 15    2018
 16    2018
 17    2018
 23    2018
 25    2018
 27    2018
 28    2018
 30    2018
 31    2018
 32    2018
 33    2018
 35    2018
 36    2018
 37    2018
 38    2018
 39    2018
 40    2018
       ...
 57    2018
 58    2018
 59    2018
 60    2018
 61    2018
 62    2018
 65    2018
 67    2018
 69    2018
 70    2018
 71    2018
 72    2018
 76    2018
 77    2018
 78    2018
 80    2018
 81    2018
 82    2018
 83    2018
 84    2018
 85    2018
 86    2018
 87    2018
 88    2018
 89    2018
 90    2018
 91    2018
 92    2018
 93    2018
 94    2018
 Name: ts, Length: 73, dtype: int64, 0     Sunday
 1     Sunday
 2     Sunday
 4     Sunday
 5     Sunday
 6     Sunday
 7     Sunday
 8     Sunday
 9     Sunday
 10    Sunday
 12    Sunday
 13    Sunday
 14    Sunday
 15    Sunday
 16    Sunday
 17    Sunday
 23    Sunday
 25    Sunday
 27    Sunday
 28    Sunday
 30    Sunday
 31    Sunday
 32    Sunday
 33    Sunday
 35    Sunday
 36    Sunday
 37    Sunday
 38    Sunday
 39    Sunday
 40    Sunday
        ...
 57    Sunday
 58    Sunday
 59    Sunday
 60    Sunday
 61    Sunday
 62    Sunday
 65    Sunday
 67    Sunday
 69    Sunday
 70    Sunday
 71    Sunday
 72    Sunday
 76    Sunday
 77    Sunday
 78    Sunday
 80    Sunday
 81    Sunday
 82    Sunday
 83    Sunday
 84    Sunday
 85    Sunday
 86    Sunday
 87    Sunday
 88    Sunday
 89    Sunday
 90    Sunday
 91    Sunday
 92    Sunday
 93    Sunday
 94    Sunday
 Name: ts, Length: 73, dtype: object]

In [252]:
time_dict = dict(zip(column_labels, time_data))
time_dict

{'timestamp': 0    2018-11-11 02:33:56.796
 1    2018-11-11 02:36:10.796
 2    2018-11-11 02:40:34.796
 4    2018-11-11 04:36:13.796
 5    2018-11-11 04:36:46.796
 6    2018-11-11 09:56:28.796
 7    2018-11-11 10:00:47.796
 8    2018-11-11 10:04:07.796
 9    2018-11-11 10:08:28.796
 10   2018-11-11 10:12:00.796
 12   2018-11-11 10:27:43.796
 13   2018-11-11 10:33:44.796
 14   2018-11-11 10:36:22.796
 15   2018-11-11 10:40:14.796
 16   2018-11-11 10:43:23.796
 17   2018-11-11 10:46:18.796
 23   2018-11-11 11:14:51.796
 25   2018-11-11 13:41:22.796
 27   2018-11-11 13:52:23.796
 28   2018-11-11 13:58:22.796
 30   2018-11-11 14:05:43.796
 31   2018-11-11 14:07:54.796
 32   2018-11-11 14:09:36.796
 33   2018-11-11 14:14:29.796
 35   2018-11-11 14:15:06.796
 36   2018-11-11 14:17:52.796
 37   2018-11-11 14:19:37.796
 38   2018-11-11 14:24:58.796
 39   2018-11-11 14:30:05.796
 40   2018-11-11 14:33:53.796
                ...
 57   2018-11-11 15:10:12.796
 58   2018-11-11 15:14:56.796
 59   2018-11-11 16:01:19.796
 60   2018-11-11 16:05:35.796
 61   2018-11-11 16:09:12.796
 62   2018-11-11 16:13:43.796
 65   2018-11-11 18:08:33.796
 67   2018-11-11 18:48:12.796
 69   2018-11-11 18:49:01.796
 70   2018-11-11 18:51:56.796
 71   2018-11-11 18:53:36.796
 72   2018-11-11 18:54:46.796
 76   2018-11-11 19:41:45.796
 77   2018-11-11 19:45:25.796
 78   2018-11-11 19:48:53.796
 80   2018-11-11 19:56:23.796
 81   2018-11-11 19:59:18.796
 82   2018-11-11 20:03:09.796
 83   2018-11-11 20:06:02.796
 84   2018-11-11 20:08:52.796
 85   2018-11-11 20:13:22.796
 86   2018-11-11 20:15:55.796
 87   2018-11-11 20:19:18.796
 88   2018-11-11 20:22:03.796
 89   2018-11-11 20:25:40.796
 90   2018-11-11 21:09:28.796
 91   2018-11-11 21:13:48.796
 92   2018-11-11 21:17:29.796
 93   2018-11-11 23:39:00.796
 94   2018-11-11 23:42:28.796
 Name: ts, Length: 73, dtype: datetime64[ns], 'hour': 0      2
 1      2
 2      2
 4      4
 5      4
 6      9
 7     10
 8     10
 9     10
 10    10
 12    10
 13    10
 14    10
 15    10
 16    10
 17    10
 23    11
 25    13
 27    13
 28    13
 30    14
 31    14
 32    14
 33    14
 35    14
 36    14
 37    14
 38    14
 39    14
 40    14
       ..
 57    15
 58    15
 59    16
 60    16
 61    16
 62    16
 65    18
 67    18
 69    18
 70    18
 71    18
 72    18
 76    19
 77    19
 78    19
 80    19
 81    19
 82    20
 83    20
 84    20
 85    20
 86    20
 87    20
 88    20
 89    20
 90    21
 91    21
 92    21
 93    23
 94    23
 Name: ts, Length: 73, dtype: int64, 'day': 0     11
 1     11
 2     11
 4     11
 5     11
 6     11
 7     11
 8     11
 9     11
 10    11
 12    11
 13    11
 14    11
 15    11
 16    11
 17    11
 23    11
 25    11
 27    11
 28    11
 30    11
 31    11
 32    11
 33    11
 35    11
 36    11
 37    11
 38    11
 39    11
 40    11
       ..
 57    11
 58    11
 59    11
 60    11
 61    11
 62    11
 65    11
 67    11
 69    11
 70    11
 71    11
 72    11
 76    11
 77    11
 78    11
 80    11
 81    11
 82    11
 83    11
 84    11
 85    11
 86    11
 87    11
 88    11
 89    11
 90    11
 91    11
 92    11
 93    11
 94    11
 Name: ts, Length: 73, dtype: int64, 'week': 0     45
 1     45
 2     45
 4     45
 5     45
 6     45
 7     45
 8     45
 9     45
 10    45
 12    45
 13    45
 14    45
 15    45
 16    45
 17    45
 23    45
 25    45
 27    45
 28    45
 30    45
 31    45
 32    45
 33    45
 35    45
 36    45
 37    45
 38    45
 39    45
 40    45
       ..
 57    45
 58    45
 59    45
 60    45
 61    45
 62    45
 65    45
 67    45
 69    45
 70    45
 71    45
 72    45
 76    45
 77    45
 78    45
 80    45
 81    45
 82    45
 83    45
 84    45
 85    45
 86    45
 87    45
 88    45
 89    45
 90    45
 91    45
 92    45
 93    45
 94    45
 Name: ts, Length: 73, dtype: int64, 'month': 0     11
 1     11
 2     11
 4     11
 5     11
 6     11
 7     11
 8     11
 9     11
 10    11
 12    11
 13    11
 14    11
 15    11
 16    11
 17    11
 23    11
 25    11
 27    11
 28    11
 30    11
 31    11
 32    11
 33    11
 35    11
 36    11
 37    11
 38    11
 39    11
 40    11
       ..
 57    11
 58    11
 59    11
 60    11
 61    11
 62    11
 65    11
 67    11
 69    11
 70    11
 71    11
 72    11
 76    11
 77    11
 78    11
 80    11
 81    11
 82    11
 83    11
 84    11
 85    11
 86    11
 87    11
 88    11
 89    11
 90    11
 91    11
 92    11
 93    11
 94    11
 Name: ts, Length: 73, dtype: int64, 'year': 0     2018
 1     2018
 2     2018
 4     2018
 5     2018
 6     2018
 7     2018
 8     2018
 9     2018
 10    2018
 12    2018
 13    2018
 14    2018
 15    2018
 16    2018
 17    2018
 23    2018
 25    2018
 27    2018
 28    2018
 30    2018
 31    2018
 32    2018
 33    2018
 35    2018
 36    2018
 37    2018
 38    2018
 39    2018
 40    2018
       ...
 57    2018
 58    2018
 59    2018
 60    2018
 61    2018
 62    2018
 65    2018
 67    2018
 69    2018
 70    2018
 71    2018
 72    2018
 76    2018
 77    2018
 78    2018
 80    2018
 81    2018
 82    2018
 83    2018
 84    2018
 85    2018
 86    2018
 87    2018
 88    2018
 89    2018
 90    2018
 91    2018
 92    2018
 93    2018
 94    2018
 Name: ts, Length: 73, dtype: int64, 'day_of_week': 0     Sunday
 1     Sunday
 2     Sunday
 4     Sunday
 5     Sunday
 6     Sunday
 7     Sunday
 8     Sunday
 9     Sunday
 10    Sunday
 12    Sunday
 13    Sunday
 14    Sunday
 15    Sunday
 16    Sunday
 17    Sunday
 23    Sunday
 25    Sunday
 27    Sunday
 28    Sunday
 30    Sunday
 31    Sunday
 32    Sunday
 33    Sunday
 35    Sunday
 36    Sunday
 37    Sunday
 38    Sunday
 39    Sunday
 40    Sunday
        ...
 57    Sunday
 58    Sunday
 59    Sunday
 60    Sunday
 61    Sunday
 62    Sunday
 65    Sunday
 67    Sunday
 69    Sunday
 70    Sunday
 71    Sunday
 72    Sunday
 76    Sunday
 77    Sunday
 78    Sunday
 80    Sunday
 81    Sunday
 82    Sunday
 83    Sunday
 84    Sunday
 85    Sunday
 86    Sunday
 87    Sunday
 88    Sunday
 89    Sunday
 90    Sunday
 91    Sunday
 92    Sunday
 93    Sunday
 94    Sunday
 Name: ts, Length: 73, dtype: object}

In [256]:
time_df = pd.DataFrame(time_dict)
time_df

                 timestamp  hour  day  week  month  year day_of_week
0  2018-11-11 02:33:56.796     2   11    45     11  2018      Sunday
1  2018-11-11 02:36:10.796     2   11    45     11  2018      Sunday
2  2018-11-11 02:40:34.796     2   11    45     11  2018      Sunday
4  2018-11-11 04:36:13.796     4   11    45     11  2018      Sunday
5  2018-11-11 04:36:46.796     4   11    45     11  2018      Sunday
6  2018-11-11 09:56:28.796     9   11    45     11  2018      Sunday
7  2018-11-11 10:00:47.796    10   11    45     11  2018      Sunday
8  2018-11-11 10:04:07.796    10   11    45     11  2018      Sunday
9  2018-11-11 10:08:28.796    10   11    45     11  2018      Sunday
10 2018-11-11 10:12:00.796    10   11    45     11  2018      Sunday
12 2018-11-11 10:27:43.796    10   11    45     11  2018      Sunday
13 2018-11-11 10:33:44.796    10   11    45     11  2018      Sunday
14 2018-11-11 10:36:22.796    10   11    45     11  2018      Sunday
15 2018-11-11 10:40:14.796    10   11    45     11  2018      Sunday
16 2018-11-11 10:43:23.796    10   11    45     11  2018      Sunday
17 2018-11-11 10:46:18.796    10   11    45     11  2018      Sunday
23 2018-11-11 11:14:51.796    11   11    45     11  2018      Sunday
25 2018-11-11 13:41:22.796    13   11    45     11  2018      Sunday
27 2018-11-11 13:52:23.796    13   11    45     11  2018      Sunday
28 2018-11-11 13:58:22.796    13   11    45     11  2018      Sunday
30 2018-11-11 14:05:43.796    14   11    45     11  2018      Sunday
31 2018-11-11 14:07:54.796    14   11    45     11  2018      Sunday
32 2018-11-11 14:09:36.796    14   11    45     11  2018      Sunday
33 2018-11-11 14:14:29.796    14   11    45     11  2018      Sunday
35 2018-11-11 14:15:06.796    14   11    45     11  2018      Sunday
36 2018-11-11 14:17:52.796    14   11    45     11  2018      Sunday
37 2018-11-11 14:19:37.796    14   11    45     11  2018      Sunday
38 2018-11-11 14:24:58.796    14   11    45     11  2018      Sunday
39 2018-11-11 14:30:05.796    14   11    45     11  2018      Sunday
40 2018-11-11 14:33:53.796    14   11    45     11  2018      Sunday
..                     ...   ...  ...   ...    ...   ...         ...
57 2018-11-11 15:10:12.796    15   11    45     11  2018      Sunday
58 2018-11-11 15:14:56.796    15   11    45     11  2018      Sunday
59 2018-11-11 16:01:19.796    16   11    45     11  2018      Sunday
60 2018-11-11 16:05:35.796    16   11    45     11  2018      Sunday
61 2018-11-11 16:09:12.796    16   11    45     11  2018      Sunday
62 2018-11-11 16:13:43.796    16   11    45     11  2018      Sunday
65 2018-11-11 18:08:33.796    18   11    45     11  2018      Sunday
67 2018-11-11 18:48:12.796    18   11    45     11  2018      Sunday
69 2018-11-11 18:49:01.796    18   11    45     11  2018      Sunday
70 2018-11-11 18:51:56.796    18   11    45     11  2018      Sunday
71 2018-11-11 18:53:36.796    18   11    45     11  2018      Sunday
72 2018-11-11 18:54:46.796    18   11    45     11  2018      Sunday
76 2018-11-11 19:41:45.796    19   11    45     11  2018      Sunday
77 2018-11-11 19:45:25.796    19   11    45     11  2018      Sunday
78 2018-11-11 19:48:53.796    19   11    45     11  2018      Sunday
80 2018-11-11 19:56:23.796    19   11    45     11  2018      Sunday
81 2018-11-11 19:59:18.796    19   11    45     11  2018      Sunday
82 2018-11-11 20:03:09.796    20   11    45     11  2018      Sunday
83 2018-11-11 20:06:02.796    20   11    45     11  2018      Sunday
84 2018-11-11 20:08:52.796    20   11    45     11  2018      Sunday
85 2018-11-11 20:13:22.796    20   11    45     11  2018      Sunday
86 2018-11-11 20:15:55.796    20   11    45     11  2018      Sunday
87 2018-11-11 20:19:18.796    20   11    45     11  2018      Sunday
88 2018-11-11 20:22:03.796    20   11    45     11  2018      Sunday
89 2018-11-11 20:25:40.796    20   11    45     11  2018      Sunday
90 2018-11-11 21:09:28.796    21   11    45     11  2018      Sunday
91 2018-11-11 21:13:48.796    21   11    45     11  2018      Sunday
92 2018-11-11 21:17:29.796    21   11    45     11  2018      Sunday
93 2018-11-11 23:39:00.796    23   11    45     11  2018      Sunday
94 2018-11-11 23:42:28.796    23   11    45     11  2018      Sunday

[73 rows x 7 columns]

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [ ]:
time_table_insert = ("""
    INSERT INTO artists ()
""")

In [ ]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [ ]:
user_df =

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [ ]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [ ]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    results = cur.execute(song_select, (row.song, row.artist, row.length))
    songid, artistid = results if results else None, None

    # insert songplay record
    songplay_data = ()
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [ ]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.